<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2018.
  ~
  ~ Anthony Ngure
  ~
  ~ Email : anthonyngure25@gmail.com
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ke.co.toshngure.androidbasecode">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BasicActivity"
            android:label="@string/title_activity_basic"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.co.toshngure.androidbasecode.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.DataLoadingActivity"
            android:label="@string/title_activity_data_loading"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.co.toshngure.androidbasecode.activity.MainActivity" />
        </activity>
        <activity
            android:name="ke.co.toshngure.basecode.app.ReusableFragmentActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.co.toshngure.androidbasecode.activity.MainActivity" />
        </activity>
        <activity
            android:name="ke.co.toshngure.camera.CameraActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.co.toshngure.androidbasecode.activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.DrawableUtilsActivity"
            android:label="@string/title_activity_drawable_utils"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.co.toshngure.androidbasecode.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.NetworkImageActivity"
            android:label="@string/title_activity_network_image"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.co.toshngure.androidbasecode.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.PrefUtilsImplActivity"
            android:label="@string/title_activity_pref_utils_impl"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ke.co.toshngure.androidbasecode.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".floatingsearchview.SearchActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>